
 body {
	 position: relative;
	 height: 100%;
	 margin: 0;
	 background: #2a1438;
	 background: linear-gradient(360deg, #000000, #030c25);
	 
}
 .wrap {
	 width: 100vw;
	 height: 100vh;
	 position: absolute;
	 margin: 0 auto;
	 perspective: 360px;
	 perspective-origin: 50% 50%;
}
 .top-plane, .bottom-plane {
	 width: 200%;
	 height: 130%;
	 position: absolute;
	 bottom: -30%;
	 left: -50%;
	 background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
	 background-size: 100px 100px, 100px 100px;
	 background-position: -1px -1px, -1px -1px;
	 transform: rotateX(85deg);
	 animation: planeMoveTop 15s infinite linear;
}
 .bottom-plane {
	 transform: rotateX(-85deg);
	 top: -30%;
	 animation: planeMoveBot 2s infinite linear;
}
 @keyframes planeMoveTop {
	 from {
		 background-position: 0px -100px, 0px 0px;
	}
	 to {
		 background-position: 0px 0px, 100px 0px;
	}
}
 @keyframes planeMoveBot {
	 from {
		 background-position: 0px 0px, 0px 0px;
	}
	 to {
		 background-position: 0px -100px, 100px 0px;
	}
}
 @media (max-height: 350px) {
	 .wrap {
		 perspective: 210px;
	}
}
 